@use "./device.scss" as device;

// Flex
.flex {display: flex}
.flex.columns {flex-direction: column}
.flex.space-between {justify-content: space-between}
.flex.v-centered {align-items: center;}
.flex.v-end {align-items: flex-end;}

.flex.h-centered {justify-content: center;}
.flex.centered {justify-content: center;}
.flex.fill {flex-basis: max-content;}
.flex>.fill-width {flex:1 1 100%;}

@for $value from 1 through 25 {
    .flex.gap-#{$value}px {gap: #{$value}px;}
}
.flex.gap-50px {gap: 50px;}


// Grid
.grid {display: grid}
.grid.centered {justify-content: center;}

@for $value from 1 through 25 {
    .grid.gap-#{$value}px {
       gap: #{$value}px;
    }
}

// Padding and Margin
@for $value from 1 through 25 {
    .pad-#{$value}px {padding: #{$value}px;}
    .pad-left-#{$value}px {padding-left: #{$value}px;}
    .pad-right-#{$value}px {padding-right: #{$value}px;}
    .pad-top-#{$value}px {padding-top: #{$value}px;}
    .pad-bottom-#{$value}px {padding-bottom: #{$value}px;}
    .pad-hori-#{$value}px {padding-right: #{$value}px; padding-left: #{$value}px;}
    .pad-vert-#{$value}px {padding-top: #{$value}px; padding-bottom: #{$value}px;}

    .mar-#{$value}px {margin: #{$value}px;}
    .mar-left-#{$value}px {margin-left: #{$value}px;}
    .mar-right-#{$value}px {margin-right: #{$value}px;}
    .mar-vert-#{$value}px {margin-top: #{$value}px; margin-bottom: #{$value}px;}
    .mar-top-#{$value}px {margin-top: #{$value}px;}
    .mar-bottom-#{$value}px {margin-bottom: #{$value}px;}
    .mar-hori-#{$value}px {margin-right: #{$value}px; margin-left: #{$value}px;}
}

.pad-bottom-100px {padding-bottom: 100px;}
.pad-100px {padding: 100px;}


.mar-auto {
    margin: auto;
}

// Lists
ul.no-decor {list-style: none}
ul.rows {display:inline-block}

// Devices
@include device.not-on-mobile {
    [show-on~="mobile"] {display: none}
}
@include device.not-on-tablet {
    [show-on~="tablet"] {display: none}
}
@include device.not-on-desktop {
    [show-on~="desktop"] {display: none}
}

// Width and Height
@for $value from 1 through 10 {
    .span-height-#{$value}0 {
        height: calc($value*10vh);
    }
    .span-width-#{$value}0 {
        width: calc($value*10vw);
    }
    .span-max-width-#{$value}0 {
        max-width: calc($value*10vw);
    }
    .span-min-width-#{$value}0 {
        min-width: calc($value*10vw);
    }

    
}
.full-height {
    height: 100vh;
    height: 100dvh;
}

.full-width {
    width: 100%;
}

.min-width-0 {
    min-width: 0;
}

.auto-width {
    width: auto;
}

.auto-height {
    height: auto;
}


// text
.text-no-underline {text-decoration: none}
.text-centered {text-align: center;}
.text-bold{font-weight: bold;}

// color
.bg-color-none {
    background-color: inherit;
}

// border
@for $value from 1 through 25 {
    .border-round-#{$value}px {
        border-radius: #{$value}px;
    }
}

// Image
.float-left {float: left;}
.float-right {float: right;}

//scroll
.no-scroll {
    overflow: hidden;
}

.v-scroll {
    overflow: scroll;
}