@use "./styles/reset.scss";
@use "./styles/micro.scss";
@use "./styles/device.scss" as device;

body { 
    background-color: #80acaa;
    --ui--background-color: #d8cc7d;
    --ui--border-color: #6e2f3b;
    // overflow: hidden;
    image-rendering: pixelated;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./assets/sprites/Background_01_draft.png");
}

.ui--container {
    background-color: var(--ui--background-color);
    border: 5px solid var(--ui--border-color);
    padding: 40px;
    border-radius: 15px;

    @include device.on-desktop {
        padding: 40px;

    }

    @include device.not-on-desktop {
        padding: 5px;
    }
}

.ui--container:disabled {
    background-color: rgba(216, 204, 124, .5);
    border-color:rgba(110, 47, 59, .5);
    
}

.ui--pad {
    @include device.on-desktop {
        padding: 30px;

    }

    @include device.not-on-desktop {
        padding: 10px;
    }
}

.ui--gap {
    @include device.on-desktop {
        gap: 25px;
    }

    @include device.not-on-desktop {
        gap: 5px;
    }
}

.ui--span-page {
    @include device.on-desktop {
        width: 75vw;
    }

    @include device.not-on-desktop {
        width: 95vw;
    }

}

.ui--centered-text {
    @include device.on-desktop {
        text-align: left;
    }

    @include device.not-on-desktop {
        text-align: center;
    }
}

.ui--stack {
    @include device.on-desktop {
        flex-direction: row;
    }

    @include device.not-on-desktop {
        flex-direction: column;
    }

}

.ui--button {
    @include device.on-desktop {
        max-width: fit-content;
    }
}


.ui--mobile-full-width {
    @include device.not-on-desktop {
        width: 100%;
    }
}

.ui--shield-button-mobile {
    @include device.not-on-desktop {
        height: 20vw;
    }
}

dialog {
    background-color: inherit;
    border: 0px;
}
dialog::backdrop {
    background-color: #80acaa50;
}

.ui--button-interact:hover {
    scale: (1.1);
}

.ui--button-interact-2:hover {
    scale: (1.02);
}

.sprite--entities {
    z-index: -1;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;

    @include device.on-desktop {
        bottom: 40vh;
    }

    @include device.not-on-desktop {
        bottom: 25vh;
    }

    @include device.on-mobile {
        padding: 0px 10px;
    }

    @include device.not-on-mobile {
        padding: 0px 10vw;
    }
}

.sprite--entity {
    height: auto;
    @include device.on-desktop {
        width: 20vw;
    }

    @include device.on-tablet {
        width: 30vw;
    }

    @include device.on-mobile {
        width: 40vw;
    
    }
}

.animate-floating {  
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.animate-floating-2 {  
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 750ms;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 2vh); }
    to   { transform: translate(0, -0px); }    
}